:root {
  /* primary color */
  /*--primary: oklch(0.8 0.16 61);*/

  /* CTA Color */
  /* --cta-color: oklch(0.72 0.18 227); */
  /*--cta-color: oklch(0.7152 0.1812 133.55); /* kelly green */
  /*--cta-color: oklch(0.7 0.1 149); /* sage green */
  --cta-color: oklch(0.7943 0.1796 70.67); /* bite orange */
  --cta-color: oklch(0.78 0.14 85); /* warm mustard */
  --cta-color: oklch(0.72 0.13 82); /* premium mustard */
  --cta-color: oklch(0.82 0.16 90); /* Friendly Gold */
  --cta-color: oklch(0.75 0.17 50); /* warm orange */
  --cta-color: oklch(0.68 0.16 45); /* burnt orange */

  /* hover + active pushing */
  --cta-light: oklch(0.8 0.18 227);
  --cta-light-super: oklch(0.85 0.18 227);
  --cta-dark: oklch(0.64 0.18 227);
  --cta-dark-super: oklch(0.59 0.18 227);
  /* hover + active pushing */

  --cta-box-shadow: 4px 4px 8px 0 #bbb;

  /* secondary color */
  --accent-color: oklch(0.6892 0.1425 166.1212); /* mint green */

  /* backgrounds & neutrals */
  --bg-color: oklch(1 0.0134 267.1);
  --bg-light: oklch(0.9762 0.0134 267.1);
  --bg-low-contrast: oklch(0.9262 0.0134 267.1);

  /* medium ahd low swap in dark mode */
    --bg-medium-contrast: oklch(0.667 0.0134 267.1);
  --bg-high-contrast: oklch(0.297 0.0134 267.1);


  --text-color: oklch(0.15 0.02 105);
  --text-muted: oklch(0.7 0.02 105);

  /* denotive colors */
  --error: oklch(0.72 0.25 25);
  --success: oklch(0.72 0.18 169);
  /* if primary is green, can make it the same */
  --disabled: #dedede;
  /* straight up different */
  --disabled-text: #aaa;


}

body.dark {
  --bg-color: oklch(0.297 0.0134 267.1);
  /* was high contrast bg color */
  --bg-low-contrast-neutral: oklch(0.467 0.0134 267.1);
  /* was bg color */
  --bg-medium-contrast: oklch(0.8397 0.0134 267.1);
  /* was medium contrast bg */
  --bg-high-contrast: oklch(0.9362 0.0134 267.1);

  /* was low contrast neutral bg color */
  --disabled: #565656;
  --disabled-text: #888;
  --cta-box-shadow: 3px 5px 10px 0 #222;

  /*background-color: var(--bg-color);*/
}
