@layer components {

  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  label {
    align-items: center;
    margin-bottom: 0.5rem;
  }

  label>span {
    margin-right: 0.5rem;
    /* background-color: #fff; */
    padding: 0.25rem;
    position: relative;
    z-index: 1;
  }

  label>input,
  label>select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 100%;
    background-color: var(--bg-light);
  }

  label>input:focus,
  label>select:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px #007bff;
  }


  /** INPUTS */
  /* input[type="text"],
  input[type="search"],
  input[type="email"],
  input[type="password"],
  input[type="number"],
  input[type="date"],
  input[type="time"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="month"],
  input[type="week"],
  input[type="tel"], */
  input:not([type="range"]),
  select {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    width: 100%;
    background-color: var(--bg-light);
  }

  label:has(button, input:not([type="range"])) {
    /* border: none;
    padding: none; */
    display: flex;
    border: 1px solid #ccc;
    border-radius: 1rem;
    width: 100%;
    background-color: var(--bg-light);
    padding: var(--padding-1);

    &:focus-within {
      outline: 1px solid var(--cta-color);
    }
    /* span {
      display: block flex;
      position: absolute;
      position-anchor: top left;
    } */
    
    > input, input:focus {
      border: none;
      padding: 0;
      outline: none;
      box-shadow: none;
    }
  }


  /** BUTTONS */
  button {
    --button-color: var(--cta-color);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button:not(.icon-button) {
    padding: var(--padding-1) var(--padding-2);
    border-radius: 0.25rem;
    cursor: pointer;
    text-wrap: nowrap;
    border: 1px solid;
    box-shadow: 4px 4px 8px -4px oklch(from var(--cta-color) l c h / 0.5);
    transition: all 0.3s ease;

    &:hover {
      box-shadow: 12px 10px 12px -6px oklch(from var(--button-color) 0.9 c h / 0.75);
    }
  }

  button[type="button"] {
    background: oklch(from var(--button-color) 1 0 h);
    color: var(--button-color);
    border-color: var(--button-color);

    &:hover {
      color: oklch(from var(--button-color) 0.7 0.5 h);
    }
  }

  button[type="submit"] {
    background-color: var(--button-color);
    color: oklch(from var(--button-color) 1 0 h);
    border-color: var(--button-color);

    &:hover {
      background-color: oklch(from var(--button-color) 0.65 c h);
    }
  }

  /* button.clear {
    padding: 0;
    background: unset;
    color: unset;
    border: none;
    border-radius: 0;
  } */

  /* button[type="submit"]:hover {
    background-color: var(--cta-light);
  }

  button[type="submit"]:active {
    background-color: var(--cta-light-super);
  } */

  button[type="button"]:disabled,
  button[type="submit"]:disabled {
    background-color: var(--bg-low-contrast);
    color: var(--bg-medium-contrast);
    border-color: var(--bg-low-contrast);
    cursor: not-allowed;
  }


}

