/*
https://fontshare.com - fonts
https://uncut.wft - font
https://typescale.net - typescale
*/

:root {
  --padding-1: 0.5rem;
  --padding-2: 1rem;
  --padding-3: 1.5rem;
  --padding-4: 2rem;
  --padding-5: 2.5rem;
  --padding-6: 3rem;
  --border-radius: 0.75rem;
}

body {
  /* set font family as you will - everyone uses Roboto Open Sans, or Montserrat so don't use those */
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  letter-spacing: -2%;
  line-height: 1;
}

h2 {
  font-size: 2.25rem;
  letter-spacing: -1.5%;
  line-height: 1.1;
}

h3 {
  font-size: 2rem;
  letter-spacing: -1.5%;
  line-height: 1.3;
}

h4 {
  font-size: 1.75rem;
  letter-spacing: -0.5%;
  line-height: 1.3;
}

h5 {
  font-size: 1.5rem;
  letter-spacing: -0.5%;
  line-height: 1.5;
}

h6 {
  font-size: 1.25rem;
  /* major third all the way up */
  letter-spacing: -0.5%;
}

p,
span,
div,
article {
  font-size: 1rem;
  line-height: 1.5;
}
